[submodule "themes/hugo-book"]
	path = themes/hugo-book
	url = https://github.com/Eejain/hugo-book
[submodule "themes/themes/baguettebox"]
	path = themes/themes/baguettebox
	url = https://github.com/Schnouki/hugo-baguetteBox
